<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>編集処理</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>内容</th>
			<th></th>
		</tr>

		<tr th:object="${editContent}">
			<form th:action="@{/update/{id}(id=${editContent.id})}" th:object="${formModel}" th:method="put">
				<td><input type="text" name="content" th:value="${formModel.content}" size="20" maxlength="200" /></td>
				<td><input type="submit" value="更新"></td>
			</form>
		</tr>

	</table>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>