<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link th:href="@{/css/table.css}" rel="stylesheet">
</head>
<body>
    <h1>minimum掲示板</h1>
    <h5>※この掲示板はつぶやくことのみを目的とした匿名の掲示板です。</h5>
    <h3>新規投稿はこちらから↓</h3>
	<form action="/new">
		<input type="submit" value="新規投稿" style="position: absolute; left: 10%"/>
	</form>

	<table border="1">
		<tr>
			<th>ID</th>
			<th width ="91%">内容</th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td>
				<form th:action="@{/edit/{id}(id=${content.id})}">
					<input type="submit" value="編集">
				</form>
			</td>
			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>
	</table>

</body>
</html>